
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

$mainBlack:#222;
$mainBlue:rgb(188, 221, 243);
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGray:#e4dede;
$mainTransition: all .03s linear;




body{

  font-family: 'Open Sans', sans-serif;
  background: $mainBlue;
  color: $mainBlack;
}
